<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>The Candy Box</title>
    <script src="lib/socket.io.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/chart.js"></script>
    <script src="lib/chartjs-plugin-annotation.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
  </head>
  <body>
    <canvas id="dashboard"></canvas>
    <div id=controlPanel>
      <div id="threshold">
        <span>Threshold: </span>
        <input type="range" min="1" max="50" value="25" class="slider" id="thVal">
        <button id="btnApply" type="button">Apply</button>
      </div>
      <div class="candyCounter">
        <span>Candy Drop:</span>
        <span id="candyDrop">0</span>
      </div>
    </div>
    <canvas id="monthlyGraph"></canvas>
  </body>
  <script src="sketch.js"></script>
</html>
